textarea:focus,
input:focus {
    outline: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loadedContainer {
    animation: fadeIn 5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textArea {
    height: 100%;
    width: 100%;
    resize: none;

    font-size: 20pt;
    color: rgb(180, 180, 180);

    border: none;
    background-color: hsl(0, 0%, 15%);

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;

}

.loadingContainer {
    width: 98vw;
    height: 98vh;

    top: 0;
    left: 0;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingContainer>div {
    color: rgb(180, 180, 180);
    font-size: 114pt;
    font-weight: 200;
    font-variant-caps: unicase;

    animation-duration: 120s;
    animation-name: biggerFront;
    animation-iteration-count: infinite;

    text-align: center;
}

@keyframes biggerFront {
    from {
        font-size: 30pt;
        font-weight: 0;
        letter-spacing: normal;
    }

    to {
        font-size: 150pt;
        font-weight: 800;
        letter-spacing: -30px;
    }
}

.textArea>span,
div {
    margin: 0px 3px 0px 3px;
    text-align: left;
}

.chatContainer {
    padding: 10px;
    /* border: solid 1px rgb(180, 180, 180); */
    background-color: hsl(0, 0%, 15%);

    width: 98vw;
    height: 98vh;

    top: 0;
    left: 0;

    position: absolute;
}

@media only screen and (max-width: 480px) {
    .chatContainer {
        width: 95vw;
        height: 95vh;
    }
}

input {
    width: 100%;

    font-size: 20pt;
    height: 5vh;
    color: rgb(180, 180, 180);

    border: none;
    background-color: hsl(0, 0%, 15%);
}

@media only screen and (max-width: 480px) {
    input {
        font-size: 10pt;
        height: 3vh;
    }
}

.inputContainer {
    padding: 5px;
    border: solid 1px rgb(180, 180, 180);
    background-color: hsl(0, 0%, 15%);

    z-index: 10;
    width: 80%;
}

.chatwindow {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.chatwindow * {
    /* margin-top: 10px; */
}