textarea:focus,
input:focus {
    outline: none;
}

.textArea {
    height: 100%;
    width: 100%;
    resize: none;

    font-size: 20pt;
    color: rgb(180, 180, 180);

    border: none;
    background-color: hsl(0, 0%, 15%);

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;

}

.textArea>span,
div {
    margin: 0px 3px 0px 3px;
    text-align: left;
}

.chatContainer {
    padding: 10px;
    /* border: solid 1px rgb(180, 180, 180); */
    background-color: hsl(0, 0%, 15%);

    width:100vw;
    height: 100vh;
    

    top: 0;
    left: 0;

    position:absolute;
}

input {
    width: 100%;

    font-size: 20pt;
    height: 5vh;
    color: rgb(180, 180, 180);

    border: none;
    background-color: hsl(0, 0%, 15%);
}

.inputContainer {
    padding: 5px;
    border: solid 1px rgb(180, 180, 180);
    background-color: hsl(0, 0%, 15%);

    z-index: 10;
}

.chatwindow {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.chatwindow * {
    /* margin-top: 10px; */
}